body {
    font-size: 1em;
    color: #263238;
	font-family: Verdana, Arial, Helvetica, sans_serif;
}

* {
  margin:0;
  padding:0;
}

#seite {
  width:100%;
  margin: 0 auto;
  background-color: maroon;
}

#kopfbereich {
  background-color:maroon;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

#inhalt img.wrapped {
    float: left;
    margin: 0 8px;
}

#inhalt {
  background-color: white;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: #263238;
  padding: 8px 0 8px 0;
}

/* horizontal divider */
#inhalt hr {
    clear: both;    
    border: none;
    height: 8px;
    background-color: maroon;
    margin: 8px 0 8px 0;
}

#steuerung {
  float: left;
  width:100px;
  background-color: maroon;
}

#spalterechts {
  float: right;
  width:100px;
  background-color: maroon;
}

#fussbereich {
  clear: both;
  background-color:lightblue;
  color: yellow;
}