body {
   font: 100.01% Verdana, Arial, Helvetica, sans_serif;
}

*{
   margin:0;
   /*padding:0;*/
}
#seite {
   width:100%;
   margin: 0 auto;
   background-color: white;
}

#kopfbereich {
   font-size: 2.5em;
   font-family: cursive;
   background-color: maroon;
   text-align: center;
}


#inhalt {
   background-color: white;
   margin-left: 250px;
   
}

#steuerung {
   float: left;
   width:250px;
}

#fussbereich {
   clear: both;
   background-color:lightblue;
}

p { font-size: 1.5em; text-align: justify; font-family: sans-serif; }
h1 { font-size: 2.5em; font-family: cursive; background-color: maroon; text-align: center; }
h2 { font-size: 2.2em; font-family: cursive; background-color: white; text-align: center; }
li { font-size: 1.7em; }
li li { font-size: 1em; }
tr { font-size: 1.7em; }

#leistungen {
   border-width: thin;
   border-style: solid;
   background-color: lime;
   padding-right: 1em;
   float: left;
   margin-right: 1em;
}

#leistungen p {
   font-family: serif;
   text-align: right;
}
